.DS_Store

### Packer specific files ###
packer_cache/
packer_cache_*/
*.pkrvars.hcl
manifest.json
manifest.json.lock

### IDE specific files ###
.idea
.vscode/
*.iws
*.iml
*.ipr

### Logs ###
logs/
*.log
*.log.*

### Artifacts ###
*.war
*.zip
*.tar.gz
*.tar
*.tgz

### Sensitive credentials ###
*.pem
*.key
*.crt
*.pfx
*.env